{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["@", "./src"]],
        "extensions": [".js", ".jsx"]
      }
    },
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "parent", "sibling", "index"],
        "pathGroups": [
          { "pattern": "@/**", "group": "external" }
        ]
      }
    ]
  },
  "rules": {
    "react/prop-types": "off",
    "import/prefer-default-export": "off"
  }
}