{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false
  },
  "settings": {
    "import/resolver": {
      "allias": {
        "map": [
          ["@", "src"]
        ]
      }
    },
    "extensions": [
      ".js",
      ".jsx",
      ".json"
    ]
  },
  "rules": {
    "react/prop-types": "off",
    "import/prefer-default-export": "off"
  }
}